<div class="container">
<h5 class="text-center">Update Profile</h5>	

<%= form_with(model: @profile, url: update_profile_path(@profile), method: :patch, class: 'ukfinancejob-form') do |form| %>
  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_field :bio, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin, class: 'form-control' %>
  </div>
  <br>
  <div class="actions d-flex justify-content-center">
    <%= form.submit 'Update Profile', class: 'btn btn-white d-flex' %>
  </div>

    <%= form.hidden_field :user_id, value: @user.id %>



<% end %>
</div>
