<!-- app/views/ukfinancejobs/new.html.erb -->
<div class="container">
	

<%= form_with(model: @profile, url: profiles_path, class: 'ukfinancejob-form') do |form| %>
  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_field :bio, class: 'form-control' %>
  </div>
  <br>
  <div class="form-group">
    <%= form.label :linkedin %>
    <%= form.text_field :linkedin, class: 'form-control' %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit 'Create Profile', class: 'btn btn-green d-flex' %>
  </div>

    <%= form.hidden_field :user_id, value: @user.id %>



<% end %>
</div>
