<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Profile Page</title>
</head>

<body>

<h5 class="text-center">Profile Page</h5>
<div class="d-flex justify-content-center mt-4" style="font-size:40px;">
	<i class="fa-sharp fa-regular fa-user"></i>	
</div>

<br>
<p class="text-center"> <strong>
	Bio
</strong></p>
<p class="text-center"> 
	<%= @profile.bio %>	
	<% if @profile.bio.present? == false %>
		<p class="italic text-center">No bio added</p>
	<% end %>
</p>

<p class="text-center">  <strong>
	Linkedin
</strong></p>
<p class="text-center"> 
	<%= @profile.linkedin %>
	<% if @profile.linkedin.present? == false %>
		<p class="italic text-center">No linkedin added</p>
	<% end %>		
</p>


<% if @profile.user_id == current_user.id %>

	<div class="d-flex justify-content-center">
		<%= link_to "Edit Profile", edit_profile_path(@profile.user_id), class: "btn-white btn border-light" %>
	</div>
<% end %>

<br>

<h5 class="text-center"><i class="fa-solid fa-star"></i> Saved Jobs</h5>

<div class="card-container" id="cardContainer" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
  <% @favorite_ukfinancejobs.each do |ukfinancejob| %>
    <div class="card" style="background-color: white; border: 1px solid black; padding: 5px; width: 155px; height: 250px; margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
      <div style="flex: 1;">
        <h6 class="text-center bold" style="max-height: 2.5em; height: 2.5em; overflow: hidden;"><%= ukfinancejob.title %></h6>
        <div class="d-flex justify-content-center mt-3">
          <%= cl_image_tag ukfinancejob.photo.key, height: 75, crop: :fill %>
        </div>
      </div>

      <div style="flex: 1;">
        <p class="text-center mt-2" style="max-height: 1.5em; overflow: hidden;"><%= ukfinancejob.location %></p>
        <p class="text-center italic italic_small" style="margin-top: -15px;">Apply by <%= ukfinancejob.deadline_date.day %> <%= t('date.abbr_month_names')[ukfinancejob.deadline_date.month] %> <%= ukfinancejob.deadline_date.year %></p>
      </div>
      
      <%= link_to 'View', ukfinancejob_path(ukfinancejob), class: 'btn btn-green', style: 'width: 100%' %>
    </div>
  <% end %>
</div>