<div id="<%= dom_id meeting %>">
  <h4 class="text-center">
    <%= meeting.name %>
  </h4>

  <p class="text-center">
    <%= meeting.start_time.day %>
    
    <%= t('date.month_names')[meeting.start_time.month] %> <%= meeting.start_time.year %>

    - 
 
    <%= meeting.start_time.strftime("%H:%M") %> (UK time)

    <br>
    <strong>
      <%= meeting.virtual_or_inperson %>   meeting
    </strong> 
  </p>

<section class="mobile-only">
  
  <div class="d-flex justify-content-center">
      <%= cl_image_tag meeting.photo1.key, height: 100, crop: :fill %>
  </div>

  <br>

  <div>
    <p>
      <strong style="padding-right: 5px;">description: </strong>
    </p>
    <p style="margin-top:-15px;">
      <%= meeting.description %>  
    </p>
  </div>

  <div>
    <p>
      <strong style="padding-right: 5px;">time & date: </strong>
    </p>
    <p style="margin-top:-15px;">
      <%= meeting.description %>  
    </p>
  </div>

  <div class="d-flex justify-content-center">
    <strong>  
      <a href="<%= meeting.link_to_url %>" class="no-style btn-white p-2 round-border" target="_blank">  
        More info
      </a>
    </strong>
  </div>
    
</section>

<!-- desktop only -->

<section class="desktop-only" >
  
  <div class="d-flex justify-content-center">
      <%= cl_image_tag meeting.photo1.key, height: 100, crop: :fill %>
  </div>

  <br>

    <div>
    <p  class="text-center">
      <strong style="padding-right: 5px;">description: </strong>
    </p>
    <p style="margin-top:-15px;"  class="text-center">
      <%= meeting.description %>  
    </p>
  </div>
<br>
  

  
  <div class="d-flex justify-content-center">
    <strong>  
      <a href="<%= meeting.link_to_url %>" class="no-style btn-white p-2 round-border" target="_blank">  
        More info
      </a>
    </strong>
  </div>
    
</section>

</div>
