<!-- app/views/ukfinancejobs/show.html.erb -->
<div class="container">
  <h1><%= @blog.title %></h1>
  <div class="ukfinancejob-details">
    <p><strong>Description:</strong> <%= @blog.desc %></p>
    <p><%= @blog.para1 %></p>
    <p><%= @blog.para2 %></p>
    <p><%= @blog.para3 %></p>
    <p><%= @blog.para4 %></p>
    <p><%= @blog.para5 %></p>
  </div>  
  <%= link_to 'Back to all blogs', blogs_path, class: 'btn btn-primary' %>
</div>

<% if current_user and current_user.admin == true %>

<div class="d-flex justify-content-around"> 
<%= link_to 'Edit', edit_blog_path(@blog), class: 'btn btn-primary' %>

<%= button_to 'Delete', blog_path(@blog), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this job?' }, form: { "data-remote": true } %>

    </div>
<% end %>