<div class="d-flex justify-content-around">
  <%= link_to "Login", new_user_session_path, class: "btn-dark btn border-light" %>
  <%= link_to "Register", new_user_registration_path, class: "btn btn-white border-light"  %>
</div>
<br>
<br>
<h1 class="text-center no-style">
<%= link_to "CAREERS", root_path, class: "no-style" %>
</h1>
<div class="sub-header">
<h6>How to Really Find a Job within Finance</h6>
</div>
<nav class="desktop-only">
<ul>
  <li>
    <%= link_to "Finance CV Template", cv_path %>  
  </li>
  <!--<li>
    <%= link_to "Interview Practice", interview_path %>
  </li>-->
  <li>
    <%= link_to "Finance Job Filter", ukfinancejobs_path %>
  </li>
  <li>
    <%= link_to "Blogs", blogs_path %>
  </li>
  <li>
    <%= link_to "1-1 Coaching", new_coachingrequest_path %>
  </li>
  <li>
    <%= link_to "About Us", aboutus_path %>
  </li>
</ul>
</nav>