<!--<br>
<br>
<h4 class="text-center">
  GRADUATE FLOW
</h4>
<p class="text-center">
  How to really find a job within finance (UK & Europe)
</p>
  <div class="logo-container heartbeat-text d-flex justify-content-center">
        <img src="<%= asset_path('logo.png') %>" style="max-width:300px;" alt="Logo">
  </div>

  <h5 class="text-center">
    Launch: August 7th 2023
  </h5>
-->

<style type="text/css">
  /* Adjust the header styles according to your design requirements */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -40px;
  margin-bottom: -60px;
}

/* Style the burger icon */
.burger-icon {
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: #000; /* Change this to the color of your burger icon */
  position: relative;
}

/* Add any other styles you need for the logo container */
.logo-container {
  /* Add any additional styles for positioning and sizing the logo */
}

/* Add any other styles you need for the logo image */
.logo-container img {
    width: 150px; /* Set the width of the logo image to 50px */
    margin-left: -25px;
    margin-top:-25px;
}
.margin-right-btn{
  margin-right:30px;
  margin-bottom:25px;
}

.desktop-logo{
  width:100px;
  margin-right: -15px;
}
</style>

<div class="header">
  <div class="logo-container mobile-only">
        <img src="<%= asset_path('logo.png') %>" alt="Logo">
  </div>
  <button class="btn-non-bounce margin-right-btn mobile-only btn-green" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="toggleDropdown">
    <span class="burger-icon"></span>
  </button>
</div>

  <div class="collapse bounce-this-slow mobile-only" id="collapseExample" style="background-color: rgba(239, 239, 240); margin-top:10px;">       
            <table  class="table table-hover table-condensed  " >
            <thead>
              <tr>
                <th style="width:50% "></th>
              </tr>
            </thead>
            <tbody>
              <br>
              <tr>
                <span style="margin-left:10px; margin-right:-15px;">
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </span>
                  <%= link_to "Job Filter", ukfinancejobs_path, class: "btn header-link"  %>
                  
              </tr>
              <hr>
              <tr>
                <span style="margin-left:10px; margin-right:-15px;">
                    <i class="fa-regular fa-calendar"></i>
                  </span>
                <%= link_to "Networking & Events Calendar", networking_path, class: "btn header-link" %>
                
              </tr>
              <hr>
              <tr>
                <span style="margin-left:10px; margin-right:-15px;">
                  <i class="fa-regular fa-file-word"></i>
                </span>
                <%= link_to "CV Template", cv_path, class: "btn header-link" %>  
                
              </tr>

              <hr>
              <tr>
                <%= link_to "Daily Update", daily_path, class: "btn header-link "  %>               
              </tr>

              <hr>
              

              <br>
              <tr>
                <% if user_signed_in? %>
                    <div style="margin-left:10px;"> 
                        <%= link_to profile_path(current_user.id), class: "btn-dark btn border-light header-link-desktop" do %>
                        <span class="p-2">
                          <i class="fa-solid fa-user"></i> Profile  
                        </span>
                        
                        <% end %>
                    </div>
                <% else %>
                <div style="margin-left:10px;"> 
                      <%= link_to "Login", new_user_session_path, class: "btn-dark btn border-light" %>
                </div>
                <br>
                <div style="margin-left:10px;"> 
                  <%= link_to "Register", new_user_registration_path, class: "btn btn-white border-light"  %>
                </div>
                    
                <% end %>
              </tr>
            </tbody>
          </table>
          </div>


<span class="desktop-only">

</span>
<section class="fae-this .collapse.show.bouncy-element"> 
  <h1 class="text-center no-style mt-3 background">
    <img src="<%= asset_path('logo.png') %>" alt="Logo" class="desktop-only desktop-logo">
    <%= link_to "Graduate Flow", root_path, class: "no-style" %>

  </h1>
<div class="sub-header background">
<h6 style="font-size:15px;">How to really find a job within finance (UK & Europe)</h6>
</div>
<nav class="desktop-only">
<ul>
  <li>
    <%= link_to "CV Template", cv_path, class: "header-link-desktop" %>  
  </li>
  <li>
    <%= link_to "Networking Calendar", networking_path, class: "header-link-desktop"  %>  
  </li>
  <li>
    <%= link_to "Job Finder", ukfinancejobs_path, class: "header-link-desktop"  %>
  </li>
  <li>
    <%= link_to "Daily Update", daily_path, class: "header-link-desktop"  %>
  </li>
  
  <% if user_signed_in? %>
    <% if Profile.find_by(user_id: current_user.id).present? %>
    <li>
      <div style="margin-left:10px;"> 
        <%= link_to profile_path(current_user.id), class: "btn-dark btn border-light header-link-desktop" do %>
                        <span class="p-2">
                          <i class="fa-solid fa-user"></i> Profile  
                        </span>
                    <% end %>
      </div>
    </li>
    <% end %>
<% else %>
<li>
  <div>
  <%= link_to "Login", new_user_session_path, class: "btn-dark btn border-light" %>
  </div>
  
</li>
<% end %>
</ul>

</nav>
</section>






<style type="text/css"> 
/* Add these styles to create the burger icon */
.burger-icon {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* Add this style to rotate the top and bottom lines of the burger icon on click */
.btn.btn-green[aria-expanded="true"] .burger-icon {
  transform: rotate(45deg);
}

/* Add this style to hide the middle line of the burger icon on click */
.btn.btn-green[aria-expanded="true"] .burger-icon::before {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
}

/* Add these styles to create the burger icon */
.burger-icon {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* Add this style to rotate the lines of the burger icon on click */
.btn.btn-green[aria-expanded="true"] .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.btn.btn-green[aria-expanded="true"] .line:nth-child(2) {
  opacity: 0;
}

.btn.btn-green[aria-expanded="true"] .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.btn-non-bounce{
    padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.header-link{
  font-size:17px;

}


.collapse{
width: 100%;
}

.header-link{
  font-size:16px;
}

.blur-effect {
  filter: blur(5px);
}

.header-link-desktop:hover{
  background-color: rgba(35,180,205,255);
}
</style>
<hr>


<div class="background" id="background">

<script type="text/javascript">
// JavaScript
function toggleBlurEffect() {
  var contentToBlur = document.querySelectorAll(".background");
  var isBlurEnabled = false;

  function applyBlur() {
    contentToBlur.forEach(function(element) {
      if (isBlurEnabled) {
        element.classList.add("blur-effect");
      } else {
        element.classList.remove("blur-effect");
      }
    });
  }

  var burgerButton = document.querySelector(".btn-non-bounce.mobile-only");
  burgerButton.addEventListener("click", function() {
    isBlurEnabled = !isBlurEnabled;
    applyBlur();
  });

  // Apply the blur effect initially
  applyBlur();

  // Apply the blur effect again whenever the content is loaded via AJAX
  document.addEventListener("DOMContentLoaded", function() {
    applyBlur();
  });
}
toggleBlurEffect();
</script>


<% if current_user and current_user.admin == true %>
<div class="d-flex justify-content-center">
    <%= link_to 'daily msg', lol_path, class: 'btn btn-primary btn-dark m-2' %>
    <%= link_to '3-day update msg', longermsg_path, class: 'btn btn-primary btn-dark m-2' %>
    <%= link_to 'stats', adminpanel_path, class: 'btn btn-primary btn-dark m-2' %>    
</div>
<% end %>
