
<h1 class="c_txt no-style">
<%= link_to "PROXIMA", root_path, class: "no-style" %>
</h1>
<div class="sub-header">
<p>How to Really Find a Job within Finance</p>
</div>
<nav>
<ul>
  <li>
    <%= link_to "Use AI to build your CV", cv_path %>  
  </li>
  <li>
    <%= link_to "Interview Practice", interview_path %>
  </li>
  <li>
    <%= link_to "Finance Job Filter", ukfinancejobs_path %>
  </li>
  <li>
    <%= link_to "1-1 Coaching", new_coachingrequest_path %>
  </li>
  <li>
    <%= link_to "About Us", aboutus_path %>
  </li>
</ul>
</nav>