
<button class="btn-non-bounce mobile-only btn-green" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" id="toggleDropdown">
  <span class="burger-icon"></span>
</button>
         
  <div class="collapse bounce-this-slow mobile-only" id="collapseExample" style="background-color: rgba(239, 239, 240); margin:10px;">       
            <table  class="table table-hover table-condensed  " >
            <thead>
              <tr>
                <th style="width:50% "></th>
              </tr>
            </thead>
            <tbody>
              <br>
              <tr>
                  <%= link_to "Networking Calendar", networking_path, class: "btn header-link" %>  
              </tr>
              <br>  
              <tr>
                <%= link_to "Job Finder", ukfinancejobs_path, class: "btn header-link"  %>
              </tr>
              <br>
              <tr>
                <%= link_to "CV Template", cv_path, class: "btn header-link" %>  
              </tr>
              <br> 
              
              <!--
              <tr>
                <%= link_to "Blogs", blogs_path, class: "btn header-link" %>
              </tr>

              <tr>
                <%= link_to "1-1 Coaching", new_coachingrequest_path, class: "btn header-link" %>
              </tr>
              <br>
               -->
              <tr>
                <%= link_to "About Us", aboutus_path, class: "btn header-link" %>
              </tr>
              <br>
              <br>
              
              <tr>
                <% if user_signed_in? %>
                    <div style="margin-left:10px;"> 
                        <%= link_to "Profile", profile_path(current_user.id), class: "btn-dark btn border-light" %>
                    </div>
                <% else %>
                <div style="margin-left:10px;"> 
                      <%= link_to "Login", new_user_session_path, class: "btn-dark btn border-light" %>
                </div>
                <br>
                <div style="margin-left:10px;"> 
                  <%= link_to "Register", new_user_registration_path, class: "btn btn-white border-light"  %>
                </div>
                    
                <% end %>
              </tr>
            </tbody>
          </table>
          </div>


<span class="desktop-only">
  
<% if user_signed_in? %>
    <% if Profile.find_by(user_id: current_user.id).present? %>
      <div style="margin-left:10px;"> 
          <%= link_to "Profile", profile_path(current_user.id), class: "btn-dark btn border-light" %>
      </div>
    <% end %>
<% else %>
<div>
<%= link_to "Login", new_user_session_path, class: "btn-dark btn border-light" %>
</div>
<br>
    
<% end %>
</span>
<section class="fae-this .collapse.show.bouncy-element"> 
  <h1 class="text-center no-style mt-3">
<%= link_to "HIRE-UP", root_path, class: "no-style" %>
</h1>
<div class="sub-header">
<h6 style="font-size:15px;">How to Really Find a Job within Finance (UK & Europe)</h6>
</div>
<nav class="desktop-only">
<ul>
  <li>
    <%= link_to "CV Template", cv_path %>  
  </li>
  <li>
    <%= link_to "Networking Calendar", networking_path %>  
  </li>
  <li>
    <%= link_to "Job Finder", ukfinancejobs_path %>
  </li>
  <!--
  <li>
    <%= link_to "Blogs", blogs_path %>
  </li> 

  <li>
    <%= link_to "1-1 Coaching", new_coachingrequest_path %>
  </li>
  -->
  <li>
    <%= link_to "About Us", aboutus_path %>
  </li>
</ul>

</nav>
</section>






<style type="text/css"> 
/* Add these styles to create the burger icon */
.burger-icon {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* Add this style to rotate the top and bottom lines of the burger icon on click */
.btn.btn-green[aria-expanded="true"] .burger-icon {
  transform: rotate(45deg);
}

/* Add this style to hide the middle line of the burger icon on click */
.btn.btn-green[aria-expanded="true"] .burger-icon::before {
  content: '';
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 0;
  transform: rotate(-90deg);
}

/* Add these styles to create the burger icon */
.burger-icon {
  display: inline-block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: transform 0.3s;
}

/* Add this style to rotate the lines of the burger icon on click */
.btn.btn-green[aria-expanded="true"] .line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.btn.btn-green[aria-expanded="true"] .line:nth-child(2) {
  opacity: 0;
}

.btn.btn-green[aria-expanded="true"] .line:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.btn-non-bounce{
    padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

.header-link{
  font-size:17px;
}
</style>
<hr>
