<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body> 
	<div class="container desktop-only">
		<h4 class="text-center">CV Template</h4>
		<br>
		<div class="d-flex justify-content-around">
			<p class="text-center" style="font-size: 20px;">
				<i class="fa-brands fa-google-drive"></i>
				<a target="_blank" href="https://docs.google.com/document/d/1iR5_jE6RaOqhiXkX021-3csPTZF4exgU/edit#heading=h.gjdgxs" style="text-decoration: none; font-size: 20px;">Google Drive link</a>
			</p>
			<%= link_to 'DOWNLOAD WORD DOCUMENT', download_file_path(filename: 'cv.docx'), class: 'no-deco btn-green btn', style: "color: white;" %>
		</div>
		<br>
			<div class="d-flex justify-content-center">	
				<%= image_tag('CV.png', class: 'img_small', alt: 'CV') %>
			</div>
			<div>
			</div>
	</div>

	<!-- mobile only -->

	<div class="container mobile-only">
		<hr>
		<h4 class="text-center">CV Template</h4>
		<br>
		<div class="d-flex justify-content-around">
			<p class="text-center" style="font-size: 20px;">
				<i class="fa-brands fa-google-drive"></i>
				<a target="_blank" href="https://docs.google.com/document/d/1iR5_jE6RaOqhiXkX021-3csPTZF4exgU/edit#heading=h.gjdgxs" style="text-decoration: none; font-size: 20px;">Google Drive link</a>
			</p>
		</div>
		<div class="d-flex justify-content-center">
			<%= link_to 'DOWNLOAD WORD DOCUMENT', download_file_path(filename: 'cv.docx'), class: 'no-deco btn-light btn text-center', style: 'color: white; background-color: green;' %>
		</div>
		<br>
			<div class="d-flex justify-content-center">	
				<%= image_tag('CV.png', class: 'img_medium', alt: 'CV') %>
			</div>
			<div>
			</div>
	</div>		

	
	<br>
	  <!--
	<h4 class="sub-header-side">Use chat GPT to create your CV</h4>
	<p>how does this work? (collapse)</p>
	<p>write about your experience in as much detail as you want using simple language, Chat GPT will transform this into 3-4 intellectually-sounding bullet points. We will then generate a CV for you to download. </p>
	<p class="bold">
	 Work Experience
	</p>
	<textarea class="input-gpt4-cv" placeholder="I worked for 2 years at HSBC in the global markets division. I was responsible for covering 25 clients from hedge funds, pension funds, banks to asset managers. I spent a lot of time analysing bonds and currencies and pitching investment ideas."></textarea>
	<a class="btn btn-light">
		+ experience
	</a>
	<br>
	<br>
	<p class="bold">
	 Education
	</p>
	<textarea class="input-gpt4-cv" placeholder="I studied at Leeds university, my degree was a bachelor in finance. I was in the top 20% of the class. i spent a lot of time in the finance society looking at potential investment opportunities for seed-stage fintech investments."></textarea>
	<a class="btn btn-light">
		+ education
	</a>
	<br>
	<br>
	<p class="bold">
	Additional Information
	</p>
	<textarea class="input-gpt4-cv" placeholder="I am fluent in 3 languages, spanish, german and english. I am also good at coding, specifically python. in my free time i enjoy skiing and sailing. Write anything else that comes to mind...certifications, volunteering work, technical skills, etc..."></textarea>
	

	<div class="d-flex justify-content-center mt-4">
		<a class="btn btn-dark">
			GENERATE CV
		</a>	
	</div>
	
	</div>
</body>
</html>

<style type="text/css">
	.input-gpt4-cv{
		height: 100px;
		width: 100%;
	}
</style>
<p>
  <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" data-turbolinks="false">
    Link with href
  </a>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Button with data-target
  </button>
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
  </div>
</div>


<%= form_tag('/chat_gpt/generate_response', method: :post) do %>
  <%= label_tag :message, 'Message:' %>
  <%= text_area_tag :message %>
  <%= submit_tag 'Submit' %>
<% end %>


<div id="response-container">
    <% if @response %>
      <h4>Generated Response:</h4>
      <p><%= @response %></p>
    <% end %>
  </div>
-->