<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Admin Only</title>
</head>

<body>


	<h4 class="text-center">
		Daily Job & Event Update
	</h4>
	<p class="text-center">
		Join our whatsapp group to receive these messages daily 
		<i class="fa-brands fa-whatsapp f-big"></i>	
	</p>

<div class="d-flex justify-content-center">
	<%= link_to "Today", daily_path, class: "btn m-2 btn-dark" %>
	<%= link_to "This Week", weekly_path, class: "btn m-2 btn-green" %>
</div>
	
<br>
<p class="text-center">
		<strong>
			<%= Date.today.day %> <%= t('date.abbr_month_names')[ Date.today.month] %> <%= Date.today.year %>	
		</strong>
	</p>
<h4 class="heartbea-text text-center" style="color:;">
		Jobs opening today: <%= @counter %> 
</h4>


	
<div class="form-row">
			  <% @alljobs_array.each do |ukfinancejob| %>
			 <div class="card-container col-md-1 m-4 " id="cardContainer">
			  <% if ukfinancejob.present? %>
			    <div class=" card" style="background-color: white; border: 1px solid black; padding: 5px; width: 155px; height: 260px; margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
			      <div style="flex: 1;">
			        <h6 class="text-center bold" style="max-height: 2.5em; height: 2.5em; overflow: hidden;"><%= ukfinancejob.title %></h6>
			        <div class="d-flex justify-content-center mt-3" style="background-image: url('<%= cl_image_path ukfinancejob.photo.key %>'); width: 100%; height: 80px; max-height: 80px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
      	</div>

      <div style="flex: 1;">
        <p class="text-center mt-2" style="max-height: 1.5em; overflow: hidden;"><%= ukfinancejob.location %></p>
        <p class="text-center italic italic_small" style="margin-top: -15px;">Apply by <%= ukfinancejob.deadline_date.day %> <%= t('date.abbr_month_names')[ukfinancejob.deadline_date.month] %> <%= ukfinancejob.deadline_date.year %></p>
      </div>
      
      <%= link_to 'View', ukfinancejob_path(ukfinancejob), class: 'btn btn-green', style: 'width: 100%' %>
    </div>
  <% end %>
</div>
	<% end %>
</div>
<br>
<br>
<h4 class="heartbea-text text-center" style="color:;">
		Jobs closing today: <%= @counter_deadline %> 
</h4>

<div class="form-row">
			  <% @alljobs_deadline_array.each do |ukfinancejob| %>
			 <div class="card-container col-md-1 m-4" id="cardContainer">
			  <% if ukfinancejob.present? %>
			    <div class=" card" style="background-color: white; border: 1px solid black; padding: 5px; width: 155px; height: 260px; margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
			      <div style="flex: 1;">
			        <h6 class="text-center bold" style="max-height: 2.5em; height: 2.5em; overflow: hidden;"><%= ukfinancejob.title %></h6>
			        <div class="d-flex justify-content-center mt-3" style="background-image: url('<%= cl_image_path ukfinancejob.photo.key %>'); width: 100%; height: 80px; max-height: 80px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
      	</div>

      <div style="flex: 1;">
        <p class="text-center mt-2" style="max-height: 1.5em; overflow: hidden;"><%= ukfinancejob.location %></p>
        <p class="text-center italic italic_small" style="margin-top: -15px;">Apply by <%= ukfinancejob.deadline_date.day %> <%= t('date.abbr_month_names')[ukfinancejob.deadline_date.month] %> <%= ukfinancejob.deadline_date.year %></p>
      </div>
      
      <%= link_to 'View', ukfinancejob_path(ukfinancejob), class: 'btn btn-green', style: 'width: 100%' %>
    </div>
  <% end %>
</div>
	<% end %>
</div>
<br>
<br>
<h4 class="heartbea-text text-center" style="color:;">
		Event applications closing today: <%= @counter_events_deadline %> 
</h4>
<br>
<div class="mobile-only">
<div class="card-container" id="cardContainer" style="width: 100%; display: flex; flex-wrap: wrap; justify-content: center;">
  <% @allevents_array.each do |meeting| %>
  <% if meeting.present? && meeting.deadline_date.present? %>
    <div class="card" style="background-color: white; border: 1px solid black; padding: 5px; width: 155px; height: 300px; margin: 5px; display: flex; flex-direction: column; justify-content: space-between;">
      <div style="flex: 1;">
        <h6 class="text-center bold" style="max-height: 2.5em; height: 2.5em; overflow: hidden;"><%= meeting.name %></h6>
        <div class="d-flex justify-content-center mt-3" style="background-image: url('<%= cl_image_path meeting.photo1.key %>'); width: 100%; height: 80px; max-height: 80px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>

      </div>

      <div style="flex: 1;" class="mt-3">
        <p class="text-center mt-2" style="max-height: 1.5em; overflow: hidden;"><%= meeting.location %></p>
        <p class="text-center italic italic_small" style="margin-top: -15px;"> Event on <%= meeting.start_time.day %> <%= t('date.abbr_month_names')[meeting.start_time.month] %> <%= meeting.start_time.year %></p>
        <% if meeting.deadline_date.present? %>
          <p class="text-center italic italic_small" style="margin-top: -15px;">Apply by <%= meeting.deadline_date.day %> <%= t('date.abbr_month_names')[meeting.deadline_date.month] %> <%= meeting.deadline_date.year %></p>
        <% end %>
      </div>
      
      <%= link_to 'View', meeting_path(meeting), class: 'btn btn-green', style: 'width: 100%' %>
    </div>
    <% end %>
  <% end %>
</div>
</div>

		
</body>