<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <% content_for :title, 'Dorsia Recruiting - Find a Job in Finance and Consulting' %>
  <% content_for :description, 'Discover how to really find a job within finance and consulting. Dorsia Recruiting offers CV tips, interview guidance, networking strategies, and more.' %>
  <title>Phoenix Recruiting</title>
</head>


<br>
<section class="page-section" id="about" style="margin-top:-100px;">
    <div class="container">
        <ul class="timeline">
            <li>
                <div class="timeline-image"><i class="fa-regular desktop-only fa-calendar" style="font-size:70px; margin-top:40px;"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">1. Use our networking calendar!</h4>
                    </div>

                    <div class="timeline-body">
                        The <%= link_to 'Networking Calendar', networking_path, class: 'btn btn-white ' %> will show all relevant networking events happening near you.</p></div>

                        
                </div>
            </li>
            
            <li class="timeline-inverted">
                <div class="timeline-image"><i class="fa-solid desktop-only fa-magnifying-glass" style="font-size:70px; margin-top:40px;"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">2. Find the right opportunities</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Use our <%= link_to 'Finance Job Filter', ukfinancejobs_path, class: 'btn btn-white' %> to find all relevant internships in finance. </p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><i class="fa-solid fa-pen desktop-only" style="font-size:70px; margin-top:40px;"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">
                        3. Download our <%= link_to ' CV Template', cv_path, class: 'btn-white btn' %>
                        </h4>                      
                    </div>
                    <div class="timeline-body"><p class="text-muted">A well-formatted CV is key.</p></div>
                </div>
            </li>
            
            <li class="timeline-inverted">
              <div class="timeline-image"><i class="fa-regular desktop-only fa-pen-to-square" style="font-size:70px; margin-top:40px;"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">4. Read our Blog & join our groups!</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Read our <%= link_to 'Blog', blogs_path, class: 'btn btn-white' %> or Join our <i class="fa-brands fa-whatsapp"> </i><%= link_to ' Whatsapp', new_mailform_path, class: 'msg-link' %>

                     and <i class="fa-brands fa-telegram"></i><%= link_to ' Telegram', new_mailform_path, class: 'msg-link'%> groups & subscribe to our <%= link_to 'Mailing List ', new_mailform_path, class: 'btn btn-white ' %>
                 to receive weekly update messages on deadlines & new opportunities.

                     
                </div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><i class="fa-solid desktop-only fa-mobile-screen" style="font-size:70px; margin-top:40px;"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="subheading">5. Book a call!</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Do you want to talk to someone who has a top tier job and first hand experience?  <%= link_to 'Get in touch', new_coachingrequest_path, class: 'btn btn-white' %></p></div>

                     
                </div>
            </li>
        </ul>
    </div>
</section>


<style type="text/css">
  @media (max-width: 900px) {
    .desktop-only{
      display:none;
      }
}
</style>
