
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Networking Calendar
	</title>
</head>
<body>

<h5 class="text-center">Filter Networking Events</h5>
<div class="filter-container">
  <div class="filter-container">
  <form action="<%= meetingfilter_path %>" method="get">
    <div class="form-row">
      <div class="col-md-3 p-3">
        <%= select_tag :company, options_for_select([["Select company", ""]].concat(@companies), params[:company]), { class: "form-control" } %>
      </div>
      <div class="col-md-3 p-3">
        <%= select_tag :industry, options_for_select([["Select industry", ""]].concat(@industries), params[:industry]), { class: "form-control" } %>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-3 p-3">
        <%= select_tag :location, options_for_select([["Select location", ""]].concat(@locations), params[:location]), { class: "form-control" } %>
      </div>
      <div class="col-md-3 p-3">
        <%= select_tag :virtual_or_inperson, options_for_select([["Select type", ""]].concat(@virtual_or_inperson_options), params[:virtual_or_inperson]), { class: "form-control" } %>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <%= submit_tag "Filter", class: "btn btn-dark", style: "width: 20%;" %>
    </div>
    <div class="d-flex mt-3 justify-content-center">
      <%= link_to "Reset filter", meetingfilter_path, class: "btn btn-white" %>
    </div>
  </form>
</div>
</div>

<div class="" style="width:100%;">
  <div class="row d-flex  justify-content-center">
    
      <% @meetings.each do |meeting| %>
      <div class="col-6" style="background-color: white; border: 1px solid black; padding: 5px; width:165px; margin: 5px;">
      <h6 class="text-center bold"><%= meeting.name %></h6>
      <div class="d-flex justify-content-center mt-3"> 
        <%= cl_image_tag meeting.photo1.key, height: 75, crop: :fill %>
      </div>
      <p class="text-center mt-2"> <%= meeting.location %></p>
      <p class="text-center italic italic_small" style="margin-top: -15px;">Apply by <%= meeting.start_time.day %> <%= t('date.abbr_month_names')[meeting.start_time.month] %> <%= meeting.start_time.year %></p>
      
      <%= link_to 'View', meeting_path(meeting), class: 'btn btn-green', style: 'width: 100%' %>
      </div>
      <% end %>
    
  </div>
</div>

</body>
</html>