<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Networking Calendar - UK and Europe finance jobs</title>
</head>
<body>

<% if current_user and current_user.admin == true %>
	<%= link_to "new event", new_meeting_path, class: "btn btn-white" %>
<% end %>

<div class="desktop-only">
<%= week_calendar(number_of_weeks: 1, events: @meetings) do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div class="d-flex justify-content-center">
      	<%= link_to "#{meeting.name}", meeting_path(meeting), class: "btn btn-white blue" %>
    </div>
    <br>
    <div class="d-flex justify-content-center">
  		<i class="fa-solid fa-location-dot"></i>
  		<p style="margin-left:10px;">
  			<%= meeting.location %>
  		</p>
    </div>
    <div class="d-flex justify-content-center" style="margin-top:-12px;">	
    	<p>
    		<%= meeting.start_time.hour %>h (UK time)
    	</p>
    </div>

  <% end %>
<% end %>	
</div>


<div class="mobile-only">
	<%= calendar(number_of_days: 2, events: @meetings) do |date, meetings| %>
  <%= date %>
  <% meetings.each do |meeting| %>
    <div class="d-flex justify-content-center">
      	<%= link_to "#{meeting.name}", meeting_path(meeting), class: "btn btn-white blue" %>
    </div>
    <br>
    <div class="d-flex justify-content-center">
  		<i class="fa-solid fa-location-dot"></i>
  		<p style="margin-left:10px;">
  			<%= meeting.location %>
  		</p>
    </div>
    <div class="d-flex justify-content-center" style="margin-top:-12px;">	
    	<p>
    		<%= meeting.start_time.hour %>h (UK time)
    	</p>
    </div>

  <% end %>
<% end %>
</div>