<br>
<h2 class="text-center">
  UK/EU Finance Jobs & Internships
</h2>
<h6 class="text-center">
	A focused and all-encompassing overview of UK high finance job roles for juniors
</h6>


<%= link_to 'Add UK Finance Job', new_ukfinancejob_path, class: 'btn btn-primary btn-dark' %>

<div class="filter-container">
	<br>
  <form action="<%= ukfinancejobs_path %>" method="get">
    <div class="form-row">
    <div class="col-md-3 p-3">
	  <%= label_tag :location, "Location" %>
	  <%= select_tag :location, options_for_select([["Select location", ""]].concat(@locations), params[:location]), { class: "form-control" } %>
	</div>
	<div class="col-md-3 p-3">
	<%= label_tag :type_of_job, "Type of Job" %>
	<%= select_tag :type_of_job, options_for_select([["Select type of job", ""]].concat(@types_of_job), params[:type_of_job]), { class: "form-control" } %>
	</div>

	<div class="col-md-3 p-3">
	<%= label_tag :deadline_date, "Deadline Date" %>
	<%= select_tag :deadline_date, options_for_select([["Select deadline date", ""]].concat(@deadline_dates), params[:deadline_date]), { class: "form-control" } %>
	</div>

	<div class="col-md-3 p-3">
	<%= label_tag :rolling_admission, "Rolling Admission" %>
	<%= select_tag :rolling_admission, options_for_select([["Select rolling admission", ""], ['All', ''], ['Yes', 'true'], ['No', 'false']], params[:rolling_admission]), class: "form-control" %>
	</div>
    </div>
    <div class="d-flex justify-content-center">
    	<%= submit_tag "Filter", class: "btn-dark btn btn-primary",  style: "width: 20%;" %>	
    </div>
    
  </form>
</div>

<div class="ukfinancejob-container">
  <% @ukfinancejobs.each do |ukfinancejob| %>
    <div class="ukfinancejob-card">
      <!-- Job card code here -->
    </div>
  <% end %>
</div>

<div class="ukfinancejob-container">
  <% @ukfinancejobs.each do |ukfinancejob| %>
    <div class="ukfinancejob-card">
      <!-- Job card code here -->
    </div>
  <% end %>
</div>

<div class="ukfinancejob-container">
  <% @ukfinancejobs.each do |ukfinancejob| %>
    <div class="ukfinancejob-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= ukfinancejob.title %></h5>
          <a class="card-text no-style " href="#{ukfinancejob.type_of_job}"><strong>
          URL:</strong> <%= ukfinancejob.url %></a>
          <br>
          <br>
          <p class="card-text"><strong>Type of Job:</strong> <%= ukfinancejob.type_of_job %></p>
          <p class="card-text"><strong>Location:</strong> <%= ukfinancejob.location %></p>
          <p class="card-text"><strong>Deadline Date:</strong> <%= ukfinancejob.deadline_date %></p>
          <p class="card-text"><strong>Rolling Admission:</strong> <%= ukfinancejob.rolling_admission ? 'Yes' : 'No' %></p>
          <%= link_to 'View', ukfinancejob_path(ukfinancejob), class: 'btn btn-primary', style: 'width: 100%' %>
          <br>
          <br>
          <div class="d-flex justify-content-around">	
			<%= link_to 'Edit', edit_ukfinancejob_path(ukfinancejob), class: 'btn btn-primary' %>

			<%= button_to 'Delete', ukfinancejob_path(ukfinancejob), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this job?' }, form: { "data-remote": true } %>

          </div>
          
        </div>
      </div>
    </div>
  <% end %>
</div>