<!-- app/views/ukfinancejobs/new.html.erb -->
<h1>New Job</h1>

<%= form_with(model: @ukfinancejob, url: ukfinancejobs_path, class: 'ukfinancejob-form') do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :url %>
    <%= form.text_field :url, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :type_of_job %>
    <%= form.text_field :type_of_job, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :location %>
    <%= form.text_field :location, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :deadline_date %>
    <%= form.text_field :deadline_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :rolling_admission %>
    <%= form.check_box :rolling_admission %>
  </div>

  <div class="actions">
    <%= form.submit 'Create UK Finance Job', class: 'btn btn-primary' %>
  </div>
<% end %>