<br>
<div class="desktop-only container">
    <!-- ... Rest of the code ... -->
<div class="d-flex" style="">
  <div>
    <% if user_signed_in? %>
      <div style="display: flex; justify-content: flex-start; align-items: center; width: 100%; /* Optional: Add padding or margin as needed */">
        <div style="width: 150px; margin-bottom: -180px;">
          <% if current_user.favorite_ukfinancejobs.include?(@ukfinancejob) %>
            <%= button_to unfavorite_ukfinancejob_path(@ukfinancejob), method: :delete, class: "btn large-text" do %>
              <i class="fa-solid fa-star"></i>
              <p class="small-text">
                Job Favorited
              </p>
            <% end %>
          <% else %>
            <%= button_to favorite_ukfinancejob_path(@ukfinancejob), method: :post, class: "btn large-text" do %>
              <i class="fa-regular fa-star"></i>
              <p class="small-text">
                Favorite job
              </p>
              <% if Date.today >= @ukfinancejob.application_opening_date && Date.today <= @ukfinancejob.deadline_date %>
              <% else %>
                <% if user_signed_in? %>
                  <p class="small-text">
                    <i class="fa-regular fa-bell"></i>
                    Also sets an e-mail reminder for when applications are open
                  </p>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn-dark btn border-light" %> to favorite job & set reminder
    <% end %>
    <!-- ... Rest of the code ... -->
  </div>
</div>
<!-- ... Rest of the code ... -->



      <h1 class="text-center"><%= @ukfinancejob.title %></h1>
      <h5 class="text-center">Application Status: 
        <% if Date.today >= @ukfinancejob.application_opening_date && Date.today <= @ukfinancejob.deadline_date %>
        <span style="color: #118C4F">
          OPEN
        </span>
        <% elsif Date.today < @ukfinancejob.application_opening_date %>
        <span style="color: #89CFF0;">
          NOT YET OPEN
        </span>  
        <% else %>
        <span style="color: red">
          CLOSED
        </span>
      <% end %>
      </h5>

    <div class="d-flex justify-content-center" style="margin-top: -40px;"> 
      <%= cl_image_tag @ukfinancejob.photo.key, class: "mt-5", height: 100, crop: :fill %>
    </div>
    <br>
      <div class="ukfinancejob-details">
        <p><strong>Type of Job:</strong> <%= @ukfinancejob.type_of_job %></p>
        
        <p><strong>Diversity Event:</strong> 
          <%= @ukfinancejob.diversity ? 'Yes' : 'No' %></p>    

        <p><strong>Location:</strong> <%= @ukfinancejob.location %></p>
        <p><strong>Application Opening:</strong> <%= @ukfinancejob.application_opening_date.day %> <%= t('date.abbr_month_names')[@ukfinancejob.application_opening_date.month] %> <%= @ukfinancejob.application_opening_date.year %>
          <% if @ukfinancejob.guesstimate == true %>
          <strong class="italic_small" style="color: red;">
            unconfirmed / predicted based on last years opening
          </strong>
          <% end %>

        </p>
        <p><strong>Application Deadline:</strong> <%= @ukfinancejob.deadline_date.day %> <%= t('date.abbr_month_names')[@ukfinancejob.deadline_date.month] %> <%= @ukfinancejob.deadline_date.year %>
        <% if @ukfinancejob.guesstimate_deadline == true %>
          <strong class="italic_small" style="color: red;">
            unconfirmed / predicted based on last years deadline
          </strong>
          <% end %>
          </p>
        <p><strong>Rolling Admission:</strong> 
          <%= @ukfinancejob.rolling_admission ? 'Yes' : 'No' %></p>    
        <p><strong>Eligibility:</strong> <%= @ukfinancejob.eligibility %></p>
        <p><strong>Division:</strong> <%= @ukfinancejob.industry %></p>
        <p><strong>HR Contact:</strong> <%= @ukfinancejob.hr_email %></p>
        <p><strong>Application Process:</strong> <%= @ukfinancejob.app_process %></p>
        <p><strong>Description:</strong> <%= @ukfinancejob.description %></p>
        <a class="card-text btn btn-white w-100 mb-3" href="<%= @ukfinancejob.url%>" target="_blank"><strong>
          Link to career website</strong></a>
          <% if Date.today >= @ukfinancejob.application_opening_date && Date.today <= @ukfinancejob.deadline_date %>
          <% else %>   
          <strong>Given applications are not yet open, you may not find the job posting on the career site just yet.
          </strong>      
        <% end %>
      </div>  
    </div>
    
    
  </div>
</div>


<% if current_user and current_user.admin == true %>

<div class="d-flex justify-content-around"> 
<%= link_to 'Edit', edit_ukfinancejob_path(@ukfinancejob), class: 'btn btn-primary' %>

<%= button_to 'Delete', ukfinancejob_path(@ukfinancejob), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this job?' }, form: { "data-remote": true } %>

</div>
<% end %>
<br>
<br>


<div class="mobile-only">
  <div>

    <div>
      <div style="margin-top: -50px;">
     <% if user_signed_in? %>
     <div class="d-flex justify-content-center">
       <% if current_user.favorite_ukfinancejobs.include?(@ukfinancejob) %>
            <%= button_to unfavorite_ukfinancejob_path(@ukfinancejob), method: :delete, class: "btn large-text" do %>
              <div style="display: block; margin: auto;">
                <i class="fa-solid fa-star"></i>
                <p class="small-text">
                Job Favorited
                </p>
                <% end %>
              </div>  
          <% else %>
     </div>
            

            <div style="display: block; margin: auto;" >
            <%= button_to  favorite_ukfinancejob_path(@ukfinancejob), method: :post, class: "btn large-text" do %>

              <i class="fa-regular fa-star"></i>
              <p class="small-text">
                Favorite job
              </p>
               <% if Date.today >= @ukfinancejob.application_opening_date && Date.today <= @ukfinancejob.deadline_date %>
                <% else %>
                  <% if user_signed_in? %>
                    <p class="small-text">
                      <i class="fa-regular fa-bell"></i>
                      Also sets an e-mail reminder for when applications are open
                    </p>
                <% end %>  

            <% end %>

            <% end %>

            <% end %>
            <% else %>
            <%= link_to new_user_session_path, class: "btn border-light" do %>
              <i class="fa-regular fa-star large-text"></i> <p class="small">Favorite job</p>

<% end %>

<br>
<br>
      <% end %>
<div class="d-flex justify-content-center mt-3" style="background-image: url('<%= cl_image_path @ukfinancejob.photo.key %>'); width: 45%; display: block; margin: auto; height: 80px; max-height: 80px; background-size: contain; background-repeat: no-repeat; background-position: center;"></div>
      <div class="ukfinancejob-details">
        <br>

      <h5 class="text-center w-100"><%= @ukfinancejob.title %></h5>
      <h6 class="text-center">Application Status: 
      <% if Date.today >= @ukfinancejob.application_opening_date && Date.today <= @ukfinancejob.deadline_date %>
      <span style="color: #118C4F">
        OPEN
      </span>  
      </h6>
      <% elsif Date.today < @ukfinancejob.application_opening_date %>
        <span style="color: #89CFF0;">
          NOT YET OPEN
        </span>  
      <% else %>
      <span style="color: red">
        CLOSED
      </span>
      <% end %>
      </h5>
      
      
        <br>
        <p><strong>Type:</strong> <%= @ukfinancejob.type_of_job %></p>
        <p><strong>Location:</strong> <%= @ukfinancejob.location %></p>
        <p><strong>Application Opening:</strong> <%= @ukfinancejob.application_opening_date.day %> <%= t('date.abbr_month_names')[@ukfinancejob.application_opening_date.month] %> <%= @ukfinancejob.application_opening_date.year %>
        <% if @ukfinancejob.guesstimate == true %>
          <strong class="italic_small" style="color: red;">
            unconfirmed / predicted based on last years opening
          </strong>
          <% end %>
        </p>
        <p><strong>Application Deadline:</strong> <%= @ukfinancejob.deadline_date.day %> <%= t('date.abbr_month_names')[@ukfinancejob.deadline_date.month] %> <%= @ukfinancejob.deadline_date.year %>
        <% if @ukfinancejob.guesstimate_deadline == true %>
          <strong class="italic_small" style="color: red;">
            unconfirmed / predicted based on last years deadline
          </strong>
          <% end %></p>
        <p><strong>Rolling Admission:</strong> <%= @ukfinancejob.rolling_admission ? 'Yes' : 'No' %></p>
        <p><strong>Eligibility:</strong> <%= @ukfinancejob.eligibility %></p>
        <p><strong>Division:</strong> <%= @ukfinancejob.industry %></p>
        <p><strong>HR Contact:</strong> <%= @ukfinancejob.hr_email %></p>
        <p><strong>Application Process:</strong> <%= @ukfinancejob.app_process %></p>
        <p><strong>Description:</strong> <%= @ukfinancejob.description %></p>
          <br>
          <br>
          <a class="card-text btn btn-white w-100 mb-3" href="<%= @ukfinancejob.url%>" target="_blank"><strong>
          Link to career website</strong></a>
          <% if Date.today >= @ukfinancejob.application_opening_date && Date.today <= @ukfinancejob.deadline_date %>
          <% else %>   
          <strong>Given applications are not yet open, you may not find the job posting on the career site just yet.
          </strong>      
        <% end %>
      </div>  
    </div>
  </div>
  
</div>


</div>


<!-- job comments -->

<div class="container m-">
  
<h4 class="text-center">Comments</h4>

<% @ukfinancejob.comments.each do |comment| %>
  <div class=" m-3 p-2 round-border">
    <p>
      <%= comment.content %>  
    </p>
    <p>
      <i class="fa-sharp fa-regular fa-user"></i> <%= link_to comment.user.email.split("@").first, profile_path(comment.user), class: "no-style" %>
      <span style="font-size:12px;">
        on <%= comment.created_at.strftime("%e %B %Y") %>  
      </span>
    </p>
  </div>
  <hr>
<% end %>

<% if current_user.present? %>
    <%= form_with(model: [@ukfinancejob, Comment.new], url: ukfinancejob_comments_path(@ukfinancejob)) do |form| %>
    <div> 
      <%= form.text_area :content, placeholder: 'Enter your comment', class: "d-flex w-100" %>
    </div>
    <div>
      <%= form.hidden_field :user_id, value: current_user.id %>
    </div>
    <br>
    <%= form.submit 'Add Comment', class: "btn btn-green w-100" %>
  <% end %>
<% else %>
<p>
  <%= link_to 'Login', new_user_session_path, class: 'btn btn-white' %>
  to comment
</p>
<% end %>

</div>





<style type="text/css">
  
.large-text{
  font-size:30px;
}
.small-text{
  font-size:12px;
}
</style>

