<!-- app/views/ukfinancejobs/show.html.erb -->
<div class="container d-flex justify-content-center">
  <div class="m-3">
    <h1><%= @ukfinancejob.title %></h1>
    <div class="ukfinancejob-details">
      <p><a class="no-deco" href="#{<% @ukfinancejob.url %>}">Link to career site</a></abbr></p>
      <p><strong>Type of Job:</strong> <%= @ukfinancejob.type_of_job %></p>
      <p><strong>Location:</strong> <%= @ukfinancejob.location %></p>
      <p><strong>Deadline Date:</strong> <%= @ukfinancejob.deadline_date %></p>
      <p><strong>Rolling Admission:</strong> <%= @ukfinancejob.rolling_admission ? 'Yes' : 'No' %></p>
    </div>  
    <%= link_to 'Back to UK Finance Jobs', ukfinancejobs_path, class: 'btn btn-primary' %>  
  </div>
  
  <div class="m-3"> 
    <%= cl_image_tag @ukfinancejob.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
</div>

